In [ ]:
#credit card fraud detection
#Importing libraries 
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
credit_card_data = pd.read_csv('credit card fraud data.csv') #importing and saving data by using data.csv file

In [ ]:
credit_card_data.shape #represents the row and colomn

(42317, 32)

In [ ]:
credit_card_data.tail() #this is representing five rows

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
42312,279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
42313,280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
42314,280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
42315,281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
42316,281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
credit_card_data.info() #explain the type of data(float,int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42317 entries, 0 to 42316
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  42317 non-null  int64
 1   Time        42317 non-null  float64
 2   V1          42317 non-null  float64
 3   V2          42317 non-null  float64
 4   V3          42317 non-null  float64
 5   V4          42317 non-null  float64
 6   V5          42317 non-null  float64
 7   V6          42317 non-null  float64
 8   V7          42317 non-null  float64
 9   V8          42317 non-null  float64
 10  V9          42317 non-null  float64
 11  V10         42317 non-null  float64
 12  V11         42317 non-null  float64
 13  V12         42317 non-null  float64
 14  V13         42317 non-null  float64
 15  V14         42317 non-null  float64
 16  V15         42317 non-null  float64
 17  V16         42317 non-null  float64
 18  V17         42317 non-null  float64
 19  V18         42317 non-null  float64
 20  V19         42317 non-null  float64
 21  V20         42317 non-null  float64
 22  V21         42317 non-null  float64
 23  V22         42317 non-null  float64
 24  V23         42317 non-null  float64
 25  V24         42317 non-null  float64
 26  V25         42317 non-null  float64
 27  V26         42317 non-null  float64
 28  V27         42317 non-null  float64
 29  V28         42317 non-null  float64
 30  Amount      42317 non-null  float64
 31  Class       42317 non-null  int64
dtypes: float64(30), int64(2)
memory usage: 10.3 MB

In [ ]:
credit_card_data.isnull().sum() #detecting the missing data

Unnamed: 0    0
Time          0
V1            0
V2            0
V3            0
V4            0
V5            0
V6            0
V7            0
V8            0
V9            0
V10           0
V11           0
V12           0
V13           0
V14           0
V15           0
V16           0
V17           0
V18           0
V19           0
V20           0
V21           0
V22           0
V23           0
V24           0
V25           0
V26           0
V27           0
V28           0
Amount        0
Class         0
dtype: int64

In [ ]:
credit_card_data['Class'].value_counts() #its showing the fraud and legit data

0    41825
1      492
Name: Class, dtype: int64

In [ ]:
legit = credit_card_data[credit_card_data.Class == 0] # dividing legit and fraud transaction data in different dataframe
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape) #detecting how many columns and rows are there in legit and fraud
print(fraud.shape)

(41825, 32)
(492, 32)

In [ ]:
legit.Amount.describe() #showing amount data of legit

count    41825.00000
mean        89.16063
std        239.11913
min          0.00000
25%          5.49000
50%         21.99000
75%         76.07000
max       8790.26000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe() ##showing amount data of fraud

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
credit_card_data.groupby('Class').mean() #mean of legit and fraud in different group

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,142846.913903,95036.016067,0.002383,-0.010142,0.006524,-0.002275,0.012614,-0.001251,0.016630,-0.003248,...,-0.003313,0.002865,-0.001155,0.000825,0.001576,0.000247,-0.000582,-0.001228,0.000915,89.160630
1,119295.058943,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
legit_sample = legit.sample(n=600) #now taking 600 data from legit to make data size of fraud and legit transaction comparable
# In logistic regression if data size of one output is very large than other then problem may happen by under fitting data

In [ ]:
legit_sample.shape # representing number of row and column in new legit sample

(600, 32)

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0) #combining fraud and legit sample

In [ ]:

new_dataset.head() #reprsents the new dataset 5 rows

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
7545,39475,39852.0,1.323436,0.250955,-0.122484,0.476151,0.005921,-0.543387,-0.005762,-0.081414,...,-0.363467,-1.095632,0.022048,-0.655209,0.309507,0.158095,-0.031326,0.018740,1.98,0
16331,119224,75375.0,1.101958,0.033121,1.203524,1.284345,-0.905243,-0.413869,-0.422015,-0.013224,...,0.134114,0.367896,-0.047546,0.391943,0.345666,-0.367159,0.059058,0.048623,45.00,0
6248,134526,80844.0,-0.120173,0.691338,0.465524,-0.777429,-0.120862,-1.256672,0.626456,-0.398861,...,0.328903,0.906815,-0.258401,0.375488,-0.126752,-0.058513,0.020623,0.163386,22.49,0
11702,168963,119458.0,-0.861859,0.409233,-0.576610,-1.630561,2.486559,3.638282,-0.284048,1.451850,...,-0.340951,-1.291552,0.186636,0.649760,-0.447387,-0.409701,0.015846,0.036434,23.29,0
8548,225039,144078.0,-0.379106,1.040934,-2.547272,-2.124769,3.296818,2.695935,0.716059,1.036578,...,0.287695,0.785989,-0.153868,0.754224,-0.248810,0.111286,0.289422,0.196690,4.62,0

In [ ]:
new_dataset.shape # seeing number of row and column in new data set

(1092, 32)

In [ ]:
new_dataset.tail()

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
42312,279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
42313,280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
42314,280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
42315,281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
42316,281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
new_dataset['Class'].value_counts() #Its provide the exact number of legit and fraud transaction

0    600
1    492
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,145080.745000,96439.043333,-0.081266,0.060938,0.114524,-0.036708,0.042118,-0.073010,0.027780,0.019156,...,-0.080548,-0.030906,-0.014845,0.065451,-0.052858,0.014364,0.008542,0.023344,-0.007345,64.863400
1,119295.058943,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
X = new_dataset.drop(columns='Class', axis=1) 
Y = new_dataset['Class']

In [ ]:
print(X)

       Unnamed: 0      Time        V1        V2        V3        V4        V5  \
7545        39475   39852.0  1.323436  0.250955 -0.122484  0.476151  0.005921
16331      119224   75375.0  1.101958  0.033121  1.203524  1.284345 -0.905243
6248       134526   80844.0 -0.120173  0.691338  0.465524 -0.777429 -0.120862
11702      168963  119458.0 -0.861859  0.409233 -0.576610 -1.630561  2.486559
8548       225039  144078.0 -0.379106  1.040934 -2.547272 -2.124769  3.296818
...           ...       ...       ...       ...       ...       ...       ...
42312      279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487
42313      280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581
42314      280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541
42315      281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618
42316      281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147

             V6        V7        V8  ...       V20       V21       V22  \
7545  -0.543387 -0.005762 -0.081414  ... -0.117003 -0.363467 -1.095632
16331 -0.413869 -0.422015 -0.013224  ...  0.000612  0.134114  0.367896
6248  -1.256672  0.626456 -0.398861  ...  0.216696  0.328903  0.906815
11702  3.638282 -0.284048  1.451850  ...  0.013273 -0.340951 -1.291552
8548   2.695935  0.716059  1.036578  ... -0.106340  0.287695  0.785989
...         ...       ...       ...  ...       ...       ...       ...
42312 -2.010494 -0.882850  0.697211  ...  1.252967  0.778584 -0.319189
42313 -1.326536 -1.413170  0.248525  ...  0.226138  0.370612  0.028234
42314 -0.003346 -2.234739  1.210158  ...  0.247968  0.751826  0.834108
42315 -2.943548 -2.208002  1.058733  ...  0.306271  0.583276 -0.269209
42316 -0.096695  0.223050 -0.068384  ... -0.017652 -0.164350 -0.295135

            V23       V24       V25       V26       V27       V28  Amount
7545   0.022048 -0.655209  0.309507  0.158095 -0.031326  0.018740    1.98
16331 -0.047546  0.391943  0.345666 -0.367159  0.059058  0.048623   45.00
6248  -0.258401  0.375488 -0.126752 -0.058513  0.020623  0.163386   22.49
11702  0.186636  0.649760 -0.447387 -0.409701  0.015846  0.036434   23.29
8548  -0.153868  0.754224 -0.248810  0.111286  0.289422  0.196690    4.62
...         ...       ...       ...       ...       ...       ...     ...
42312  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
42313 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
42314  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
42315 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
42316 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[1092 rows x 31 columns]

In [ ]:
print(Y)

7545     0
16331    0
6248     0
11702    0
8548     0
        ..
42312    1
42313    1
42314    1
42315    1
42316    1
Name: Class, Length: 1092, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2) #spliting data in training and test data set

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(1092, 31) (873, 31) (219, 31)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

lr = LogisticRegression() #using  logistic regression and saving in model
rf = RandomForestClassifier()

In [ ]:
lr.fit(X_train, Y_train) #training model using train data set
rf.fit(X_train, Y_train) #training model using train data set

RandomForestClassifier()

# Evaluation

In [ ]:
X_train_prediction_lr = lr.predict(X_train) #checking accuracy for the training data set
training_data_accuracy_lr = accuracy_score(X_train_prediction_lr, Y_train) 

X_train_prediction_rf = rf.predict(X_train) #checking accuracy for the training data set
training_data_accuracy_rf = accuracy_score(X_train_prediction_rf, Y_train)

In [ ]:
print('Accuracy on Training data with LogReg : ', training_data_accuracy_lr)
print('Accuracy on Training data with RandomForest : ', training_data_accuracy_rf)

Accuracy on Training data with LogReg :  0.9301260022909508
Accuracy on Training data with RandomForest :  1.0

In [ ]:
X_test_prediction_lr = lr.predict(X_test) #checking accuracy for the test data set
test_data_accuracy_lr = accuracy_score(X_test_prediction_lr, Y_test)

X_test_prediction_rf = rf.predict(X_test) #checking accuracy for the test data set
test_data_accuracy_rf = accuracy_score(X_test_prediction_rf, Y_test)

In [ ]:
print('Accuracy score on Test Data with LogReg : ', test_data_accuracy_lr)
print('Accuracy score on Test Data with RandomForest : ', test_data_accuracy_rf)

Accuracy score on Test Data with LogReg :  0.91324200913242
Accuracy score on Test Data with RandomForest :  0.958904109589041